.productsContainer {
    margin: 100px auto;

}

.proceed-checkout {
    width: 100%;
    background-color: #FF9900;
    color: #FFF;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .productsContainer {
        margin: 30px auto;
    
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .productsContainer {
        margin: 30px auto;
    
    }
    

}

@media screen and (max-width: 575px) {
    .productsContainer {
        margin: 20px auto;
    
    }

}